<form action="/posts" method="post">
  <div>
    <label>Post Name:</label>
    <input type="text" name="name" value="">
  </div>
  <div>
    <label>Content</label>
    <input type="textarea" name="content" value="">
  </div>
  <input type="submit" name="" value="submit">
</form>
