
<form method="post" action="/posts">

  <p>Name: <input type="text" name="name"></p>

  <p>Enter your Blog Post:</p>
  <textarea name="content"></textarea>
  <br>


  <button type="submit" value="submit">Submit</button>
</form>
