<h1>New Post!</h1>

<form  action="/posts" method="POST">
  <label for="new_name">Name</label>
  <input id="new_name" type="text" name="name">
  <label for="new_content">Content</label>
  <input id="new_content" type="text" name="content">
  <input type="submit" value="submit">
</form>
